.subtitle-personal-form, .subtitle-laboral-form{
    border-bottom: 1px solid #000000;
}

.boton-volver{
    color: white !important;
    border-radius: 8px;
    background-color: #616161;
}

.boton-guardar:hover, .boton-volver:hover{
    background-color: #343a40 !important;
    color: white !important;
}
