{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Icranes Login</title>
    <link rel="icon" href="{% static 'img/logo-icranes2.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body id="body">
   <form method="POST">
      {% csrf_token %}
      <div id="contenedor-login">
          <div id="contenedor-logo">
               <img src="{% static 'img/logo-icranes2.svg' %}" alt="logo" id="logo">
              <h2>Inicio de sesión</h2>
          </div>
          <div>
              <div>
               <i class="fa-solid fa-user"></i>
              </div>
              <input type="text" name="username" id="form-username" placeholder="usuario" class="form-control" required>
          </div>
          <div>
              <div>
               <i class="fa-solid fa-lock"></i>
              </div>
              <input type="password" name="password" id="form-password" placeholder="contraseña" class="form-control" required>
           </div>
           <div class="">
            <button type="submit" id="button-submit">Ingresar</button>
           </div>
           <div>
            <a href="{% url 'admin:index' %}" id="link-admin">Ingreso Administrador</a>
           </div>
      </div>
   </form>
   
</body>
</html>