{% extends 'home/index.html' %}
{% load static %}

{% block content %}

<h2>Formulario de Certificaciones</h2>
<h5>{{ usuario.nombre }} {{ usuario.apepat }} {{ usuario.apemat }}</h3><br>
<a href="{% url 'table_personal' %}">Volver</a>


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <td><label for="{{ form.proveedor_id.id_for_label }}">{{ form.proveedor_id.label }}</label>{{ form.proveedor_id }}</td>
        </tr>
        <tr>
            <td><label for="{{ form.tipoCertificacion_id.id_for_label }}">{{ form.tipoCertificacion_id.label }}</label>{{ form.tipoCertificacion_id }}</td>
        </tr>
        <tr>
            <td><label for="{{ form.fechaEmision.id_for_label }}">{{ form.fechaEmision.label }}</label>{{ form.fechaEmision }}</td>
        </tr>
        <tr>
            <td><label for="{{ form.fechaVencimiento.id_for_label }}">{{ form.fechaVencimiento.label }}</label>{{ form.fechaVencimiento }}</td>
        </tr>
        <tr>
            <td><label for="{{ form.rutaDoc.id_for_label }}">{{ form.rutaDoc.label }}</label>{{ form.rutaDoc }}</td>
        </tr>
        <tr>
            <td><label for="{{ form.observacion.id_for_label }}">{{ form.observacion.label }}</label>{{ form.observacion }}</td>
        </tr>
    </table>
    <button type="submit">Guardar</button>
</form>

<h2>Certificaciones Vigentes</h2>
<table>
    <thead>
        <tr>
            <th>Certificacion</th>
            <th>Fecha de emision</th>
            <th>Fecha Vencimiento</th>
            <th>Documento adjunto</th>
            <th>Comentario</th>
        </tr>
    </thead>
    <tbody>
        {% if historial_de_certificaciones %}
            {% for certificacion in historial_de_certificaciones %}
            <tr>
                <td>{{ certificacion.tipoCertificacion_id }}</td>
           
           
                <td>{{ certificacion.fechaEmision }}</td>
          
          
                <td>{{ certificacion.fechaVencimiento }}</td>
    
   
                {% if certificacion.rutaDoc %}
                    <td><a href="{{ certificacion.rutaDoc.url }}" target="_blank">Ver documento</a></td>
                {% else %}
                    <td>No disponible</td>
                {% endif %}
        
           
                <td>{{ certificacion.observacion }} </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>No hay datos disponibles</td>
            </tr>
        {% endif %}
    </tbody>
</table>  
{% endblock %}